
      <div class="col-md-10 col-md-offset-2 ">
        <ol class="breadcrumb">
          <li><a href="main.html">首页</a></li>
          <li><a href="#">招/投标</a></li>
          <li class="active">招标管理</li>
        </ol>
        <div class="table-responsive ">
          <h3>招标管理列表 <small>Personal Put List</small></h3>
           <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
            <tr>
              <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
              <th width="6%">PID</th>
              <th width="6%">ZID</th>
              <th width="6%">CID</th>
              <th width="10%">投标价格</th>
              <th width="15%">投标商家</th>
              <th width="15%">联系电话</th>
              <th width="20%">备注</th>
              <th width="8%">此标状态</th>
              <th width="17%">操作</th>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox"></label></td>
              <td>p01</td>
              <td>z01</td>
              <td>c01</td>
              <td>18888元</td>
              <td>美自然之家</td>
              <td>4008208820</td>
              <td>保证完成任务</td>
              <td>进行中</td>
              <td><a href="#">修改</a><a href="#"></a> <a href="#">删除</a></td>
            </tr>
             <tr>
              <td><input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox"></label></td>
              <td>p01</td>
              <td>z01</td>
              <td>c01</td>
              <td>18888元</td>
              <td>美自然之家</td>
              <td>4008208820</td>
              <td>保证完成任务</td>
              <td>进行中</td>
              <td><a href="#">修改</a><a href="#"></a> <a href="#">删除</a></td>
            </tr>
          </table>
        </div>
        <div class="input-group pull-left form">
          <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
        <ul class="pagination pull-right" >
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
  </div>
          
  
</div>
<script src="js/jquery-ui.js"></script>
<script>
$( "#accordion" ).accordion({
      heightStyle: "content"
    });
</script>
</body>
</html>
