
      <div class="col-md-10 col-md-offset-2 ">
        <ol class="breadcrumb">
          <li><a href="main.html">首页</a></li>
          <li><a href="#">帐户管理</a></li>
          <li class="active">企业用户管理</li>
        </ol>
        <div class="table-responsive ">
          <h3>企业用户管理列表 <small>Company List</small></h3>
           <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
            <tr>
              <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
              <th width="2%">CID</th>
              <th width="10%">昵称</th>
              <th width="10%">公司名</th>
              <th width="5%">负责人</th>
              <th width="24%">地址</th>
              <th width="12%">手机号</th>
              <th width="15%">邮箱</th>
              <th width="10%">点赞数</th>
              <th width="17%">操作</th>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox"></label></td>
              <td>01</td>
              <td>河北师范大学</td>
              <td>河北师范大学</td>
              <td>蒋校长</td>
              <td>河北省石家庄市裕华区河北师范大学新校区</td>
              <td>9090950</td>
              <td>zhangliming@197232832.qq</td>
              <td>1233654</td>
              <td><a href="__MODULE__/company/user_update">修改</a><a href="#"></a> <a href="#">删除</a></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="checkbox2" id="checkbox2"></td>
               <td>02</td>
              <td>创意5+2小组</td>
              <td>创意5+2</td>
              <td>蒋校长</td>
              <td>河北省石家庄市裕华区</td>
              <td>9090950</td>
              <td>zhangliming@197232832.qq</td>
              <td>1233654</td>
              <td><a href="__MODULE__/company/user_update">修改</a><a href="#"></a> <a href="#">删除</a></td>
            </tr>
          </table>
        </div>
        <div class="input-group pull-left form">
          <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
        <ul class="pagination pull-right" >
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
  </div>
          
  
</div>
<script src="js/jquery-ui.js"></script>
<script>
$( "#accordion" ).accordion({
      heightStyle: "content"
    });
</script>
</body>
</html>
