
      <div class="col-md-10 col-md-offset-2 ">
        <ol class="breadcrumb">
          <li><a href="main.html">首页</a></li>
          <li><a href="#">帐户管理</a></li>
          <li class="active">企业用户管理</li>
        </ol>
        <div class="table-responsive ">
          <h3>企业用户管理列表 <small>Company List</small></h3>
           <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
            <tr>
              <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
              <th width="3%">CID</th>
              <th width="9%">昵称</th>
              <th width="10%">公司名</th>
               <th width="5%">负责人</th>
              <th width="11%">地址</th>
              <th width="12%">手机号</th>
              <th width="15%">邮箱</th>
              <th width="5%">点赞数</th>
              <th width="5%">信誉度</th>
              <th width="16%">操作</th>
            </tr>
            <volist name="lists" id="d">
                <tr>
              <td><input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox"></label></td>
              <td>{$d.b_id}</td>
              <td>{$d.b_ename}</td>
              <td>{$d.b_name}</td> 
              <td>{$d.b_person}</td> 
              <td>{$d.b_address}</td>
              <td>{$d.b_tel}</td>
               <td>{$d.b_email}</td>
              <td>{$d.b_sum}</td>
              <td>{$d.b_credit}</td>
              <td><a href="__MODULE__/company/user_update/b_id/{$d.b_id}">修改</a><a href="#"></a> <a href="__MODULE__/company/userdelete/b_id/{$d.b_id}">删除</a></td>
            </tr>
            </volist>
          </table>
        </div>
        <div class="input-group pull-left form">
          <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
        <ul class="pagination pull-right" >
          {$pages}
        </ul>
      </div>
  </div>
          
  
</div>
<script src="js/jquery-ui.js"></script>
<script>
$( "#accordion" ).accordion({
      heightStyle: "content"
    });
</script>
</body>
</html>
