*{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:none}
#conter{width:100%;margin:auto}
#help-left{width:100%;font-family:'microsoft YaHei';float:left}
.menu{border-left:1px solid rgb(240,242,220);border-right:1px solid rgb(240,242,220)}
.menu:last-child{border-bottom:1px solid rgb(240,242,220)}
.menu summary{height:40px;line-height:40px;text-indent:10px;outline:0;font-size:14px;font-weight:700;border-top:1px solid #ddd;cursor:pointer}
.menu summary::-webkit-details-marker{display:none}
.menu summary:before{content:"+";display:inline-block;width:16px;height:16px;margin-right:10px;font-size:18px;font-weight:700}
.menu[open] summary:before{content:"-"}
.menu ul{padding:10px 0}
.menu ul li{list-style:none;text-indent:25px;font-size:12px;height:30px;line-height:30px;}
.menu ul li a{display:block;color:#666;font-family: "微软雅黑";text-decoration: none;font-size: 0.5em;}
.menu ul li a:hover{text-decoration:underline}


input::-webkit-input-placeholder {
    color: black;
}
.gr{
    margin-top: 70px;
    padding-top: 2em;
    padding-left: 8%;
    padding-right: 6%;
}
.gr1{
padding-bottom: 10px;
}
.gr2 img{
    float: left;
    width: 85%;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
}
.gr3 h3{
    font-family: 微软雅黑;
    font-weight: bold;
    padding-bottom: 20px;
}
.gr3 ul{

    margin-top: 25px;
}
.gr3 ul li{
   margin-bottom: 20px;
}
.gr2{
    padding-right: 0px;
}
.gr2 {

    border-right:1px solid #ddd;
}
.gr4{
    /*padding-left: 45px;*/
    padding-top: 55px;
}
.gr4 p{
    padding-top: 10px;
}
.gr5 h3{
    text-align: left;
    border-bottom:1px solid;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 20px;
}
.gr6 h4{
    text-align: center;
}
.gr7 h4 {
    text-align: center;
}
.gr7 .row {
   padding-top: 20px;
}
.gr6{
    border-right:1px solid #ddd;
}

.gr7 h3{
    text-align: center;
    border-bottom: 0px;
}
.gr7 h4{
    text-align: left;
}
.gr7 p{
    font-size: 0.5em;
}
.gr8{
    border-right:1px solid #ddd;
}
.gr9{
    border-top:1px dashed #ddd;
}
.gr10 h4{
    text-align: center;
}
.gr10{
    padding-left: 20px;
    padding-right:20px;
}
.gr11{
    border-right:1px solid #ddd;
}
.gr11 p{
    margin: 0px;
}
.gr12{
    padding: 20px;
}
.gr13{
    padding-left: 20px;
}
.gr14{
    margin-top: 0px;
}
.gr14 .row{
    padding-top:50px;
}
.gr18 h3{
    text-align: center;
    padding:8px;
    border:1px solid rgb(240,242,220) ;
    border-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgb(240,242,220);
}
.gr15 li{
    width: 13%;
    background-color: white;
}
.gr15 li a{
    background-color: rgb(194,203,120);
}
.active a{
    background-color: white;
}
.gr16{
    margin: 5px;
}
.gr17{
    /*border-bottom: 2px solid rgb(35,100,0);*/
}
.gr18{
     padding-top: 55px;
 }
.gr18 p{
    padding-top: 10px;
}
.gr19{
    text-align: center;
}


.grx{
    margin-top: 50px;
}
.grx1{
  padding-top: 40px;
}
.grx2{
    padding:20px;
    font-size: 1.3em;
    font-family: "微软雅黑";
}
.grx2 input{
    height:7%;
    width: 45%;
}
.grx3{
    padding:20px;
    font-size: 1.3em;
    font-family: "微软雅黑";
}
.grx2 img{
    height: 100px;
    width:100px;
    border: 1px solid black;
}
.grx2 button{
    color: black;
    border: 1px solid black;
    font-size: 1em;
    font-family: "微软雅黑";
}

.wen_time{
    padding-left: 5px;
}
#a1{
    padding-top: 20px;
}
#a{
    font-size: 12px;
}
#b{
    font-size: 12px;
}
#c{
    font-size: 12px;
}
#d{
    font-size: 12px;
}