*{
	font-family: 微软雅黑;
}
.dropdown{
	display: inline;
	width: 40%;
	padding-top: 15px;
	
	color: white;
}
.dropdown a{
	font-family: '微软雅黑';
	color: rgb(206,213,140);
}
.dropdown a:hover{
	font-family: '微软雅黑';
	color: rgb(206,213,140);
	text-decoration: none;
}
#mymenu{
	margin-left: 210px;
}
.dropdown-menu{
	min-width: 80px;
	font-size: 10px;
}
#nav-name{
	text-align: left;
}
#nav-name a{
    font-size: 14px;
}
.img-circle{
	margin: 0px;
	padding: 0px;
}
.con-one{
	margin-left: 40px;
}
.contitle{
	padding-bottom: 1em;
	text-align: center;
}
.col-md-6{
	padding-left: 80px;
}
.navbar-collapse{
	background-color:rgb(35,100,0);
}
#greennav2{
	padding-top:1%;
	padding-right: 2%;
}
#greennav2 ul li a{
	font-size: 12px;
	line-height:20px;
	background-color: white;
	color:rgb(35,100,0);
}
#greennav2 ul li a:hover{
	border-left: 1px solid #216400 ;
	border-right:1px solid #216400 ;
	background-color:#c2cb7a;
	color:#ffffff;
}
.container-fluid{
    padding: 0px;
}
.img-circle{
	margin-right: 0px;
}
.zhaobiao-list{
	font-family: 微软雅黑;
}
.zhaobiao-list p{
	display: inline;
	font-family: 微软雅黑;
	color:rgb(132,153,49);
}
.add{
	background-color: rgb(253,253,250);
}
#zhaobiao-tag{
	color: gray;
	line-height: 150%;
	height: 80%;
	border-left:1px dashed orange;	
	padding-left: 20%;
}
.tag-right{
	color: orange;
}
.ad1 p{
	font-family: 微软雅黑;
	font-weight: bolder;
	font-size: 1.5em;
}
.grzx{
	margin-left: 2em;
	font-size: 14px;
}
.exit{
	font-size: 14px;
	margin-left:1em; 
}
