.tiezi{
    border:1px solid rgb(194,203,112);
    margin:20px 20px;
    padding:1px 10px;
}
.tiezi_1{

    border:1px solid rgb(194,203,112);
    margin:20px 20px;
    padding:12px 15px;
}
.good{
    float: right;
    margin-top: 20px;
}
.btn1{
    margin-right: 0;
    background-color: rgb(194,203,112);
}
.btn_1{
    width: 200px;
    height: 50px;
    background-color: rgb(194,203,112);
    margin-top:20px;
}
.tz_head{
    height: 50px;
}
.tz_head_1{
    margin-top: 10px;
    float: left;
}
.tz_title{
    font-family: 黑体;
    float: left;
}
.tz_text{
    margin-top:50px ;
    margin-left: 20px;
    text-align: left;
}
.tz_text_name{
    margin-bottom: 20px;
}
.tz_text_huifu{
    padding-top: 10px;
}
.tz_img{
    width:250px;
    height: 150px;
    margin-bottom: 10px;
}

.head_huifu{
    color: rgb(194, 203, 112);
}
.float{
    color: grey;
    float: right;
}
.box{
    background: white;
    width:50%; margin-top:10%; margin:auto; padding:28px;
    height: 350px;
    border: 1px #111 solid;
    display:none;            /* 默认对话框隐藏 */
    position: absolute;
    left: 200px;
    top: 200px;
}

.box.show {
    display: block;
}

.box .x {
    font-size: 18px;
    text-align: right;
    display: block;
}

.box input {
    width: 80%;
    font-size: 18px;
    margin-top: 18px;
}
.biaoti{
    width: 25%;
    height: 100px;
    background-color: rgb(194,203,120);
    border: 1px solid white;
    font-family: 黑体;
}
.biaoti.a{
    height: 100px;
}

.nav-tabs {
    padding-left: 9px;
}

.text-reply {
    height: 60px;
    width: 100%;
}
