.tiezi{
    border:1px solid rgb(194,203,112);
    margin:2% 2%;
    padding:0.1% 1%;
}
p{
    font-family: "黑体";
}
.tiezi_1{
    border:1px solid rgb(194,203,112);
    margin:2% 2%;
    padding:1% 1.5%;
}
.reply-btn{
    float: right;
    border:none;
    background-color:white;
    padding-left: 2%;
    margin-top: 2%;
}
.tiezi_reply{
    height: 96px;
}
.reply_content{
    padding-left: 1%;
}
.reply_time{
    padding-left: 0.7%;
}
.vistor{
    font-weight: bold;
}
.reply_vistor{
    border:none;
    background-color:white;
    padding-left:2%;
}
.tz_title{
    font-family: "黑体";
    float: left;
    padding-left: 0.6em;
    color: #216400;
}
.tz_text{
    margin-top:3em;
    margin-bottom: 3em;
    margin-left: 1.2em;
    text-align: left;
}
.tz_text_name_xq{
    padding-top: 1.8em;
}
.tz_img{
    width:32%;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

.head_huifu{
    color: rgb(194, 203, 112);
}
.float{
    color: grey;
    float: right;
}
.box{
    background: rgb(231,238,204);
    width:82%; margin-top:10%; margin:auto; padding:2%;
    border:1px solid rgb(194,203,120);
    display:none;            /* 默认对话框隐藏 */
}
.biaoti{
    width: 24.8%;
    height: 3.75em;
    background-color: rgb(194,203,120);
    border: 1px solid white;
    font-family: 黑体;
}
.biaoti a:hover{
    background-color: rgb(35,100,0);
    border: 1px solid white;
    font-family: 黑体;
}
.nav-tabs{
    padding-left:0.5em ;
    padding-bottom: 0.5em;
}
.text-reply{
    height: 40px;
    width: 100%;
}
.wen_text{
    padding-left: 0.4em;
    font-size: 1.2em;
}
.btn1{
    float: right;
    background-color: rgb(194,203,112);
}
.glyphicon{
    color: rgb(243,125,54);
}
.glyphicon-eyes{
    line-height: 1em;
    margin-right:1em; 
    color: #999;
}
.tabbable2{
    padding-top: 5em;
}
.push-right{
    position: fixed;
    left: 98%;
    bottom: 0.1%;
    z-index: 1005;
}
.push-right ul li a img{
    margin-right: 0;
}
.push-aside-bar{
    padding-bottom: 0.7em;
    float: right;
    width: 10em;
}
.push-head{
    padding-bottom:1.6em;
}
.push-title{
    padding-bottom: 1em;
    width: 85%;
}
.push-content{
    height: 80px;
    width: 85%;
}
.push-text{
   padding-bottom: 1em;
}
.content{
    background-color: white;
    width:99%; 
    margin-top:10%;
    margin:auto;
    border:1px solid rgb(194,203,120);
    display:none;            /* 默认对话框隐藏 */
}
.content .tiezi_reply p{
    font-weight: bold;
    padding-bottom: 0.9em;
}
.bshare-custom{
    display: none;
}
.push-class{
    width: 40%;
    padding-bottom: 1em;
}
.push-class select{
    border:1px solid rgb(169,169,169);
}
.acc1 a:hover{
    color: rgb(242,86,24);
    text-decoration: none;
}
.img-circle{
    width: 5em;
    margin: 20px 10px;
}
.vistor{
    float: left;
    font-size: 12px;
    color: rgb(153,153,153);
    text-align: center;
    margin-bottom: 1em;
}
.vistor:hover{
    color: rgb(242,86,24);
    text-decoration: none;
}
.button-first{
    float: right;
    border:none;
    background-color: white;
    padding-left: 1%;
    margin-top: 5%;
}
.button-two{
    float: right;
    border:none;
    background-color: white;
    padding-left: 1%;
    margin-top:5%;
}
.button-three{
    float: right;
    border:none;
    background-color: white;
    padding-left: 1%;
    margin-top: 5%;
}
.text-img{
    padding-left: 1.4em;
}
.text-img img{
    margin:0; 
    width:32%;
    margin-bottom: 0.8em;
}
.text-title{
    padding-left: 0.5em;
    padding-top: 1em;
}
.text-title-head a:hover{
    color: rgb(242,86,24);
    text-decoration: none;
}
.text-time{
    font-size: 0.8em;
    padding-left: 2em;
    margin-top: 0.8em;
}
.text-content{
    padding-left: 1.4em;
    margin-top: 1em;
}
.reply-head{
    border-bottom: 1px solid rgb(238,238,238);
    border-top: 1px solid rgb(238,238,238);
}
.reply-head h4{
    font-family: '微软雅黑';
}
.reply-head span{
    border-left: 1px solid rgb(238,238,238);
}
.reply-box-img{
    float: left;
    padding-right: 10px;
}
.comment{
    width: 3.5em;
    margin: 20px 10px;
}
.reply-box-text{
    padding-top: 20px;
}
.reply-box-text-in{
    height: 50px;
    width: 88.5%;
}
.reply-box-text-down{
    padding-right: 0.5em;
}
.reply-box-btn{
    font-family: '微软雅黑';
    float: right;
    display: inline-block;
    width: 94px;
    height: 36px;
    color: #FFF;
    text-align: center;
    background-color: #F36F20;
    line-height: 36px;
    margin-right: 1.1em;
    margin-top: 1em;
}
.comment-fnum{
    float: right;
    margin: 24px 10px 0 0;
    color: #999;
}
.list{
    padding-top: 5em;
}
.list-li{
    border-top: 1px dashed rgb(238,238,238);
    border-bottom: 1px dashed rgb(238,238,238);
}
.list-box{
    padding: 8px 0 8px 0px;
}
.list-box-text{
    padding-top: 20px;
}
.list-box-text-head a{
    float: right;
}
.list-box-text-head a:hover{
    text-decoration: none;
    color: rgb(242,86,24);
}
.list-box-text-head span{
    margin-right: 10px;
}
.reply_lnk{
    font-family: '微软雅黑';
    margin-right: 2em;
    color: #999;
}
.comment_er{
    font-family: '微软雅黑';
    font-size: 12px;
}
.commnet_date{
    font-family: '微软雅黑';
    font-size: 12px;
}
.list-box-text-content{
    line-height: 20px;
    padding: 16px 0 12px;
    word-break: break-all;
    color: #333;
    font-family: '微软雅黑';
}
.list-box-text-btn{
    float: right;
    border:none;
    background-color: white;
    padding-left: 1%;
    margin-top: 2%;
}
.reply-box-btn1{
    float: right;
    display: inline-block;
    width: 60px;
    height: 36px;
    color: #FFF;
    text-align: center;
    background-color: #F36F20;
    line-height: 36px;
}
.host{
    font-size: 12px;
    color: rgb(153,153,153);
    text-align: center;
    margin-bottom: 1em;
}
.tz_text_name_xq a:hover{
    text-decoration: none;
    color: rgb(243,125,54);
}
.new_com_bd{
    position: relative;
    height: 60px;
}
.new_com_bd textarea{
    height: 55px;
    padding: 10px;
    width: 88.5%;
    overflow: hidden;
    resize: none;
}

