.tiezi{
    border:1px solid rgb(194,203,112);
    margin:20px 20px;
    padding:1px 10px;
}
.tiezi_1{
    border:1px solid rgb(194,203,112);
    margin:20px 20px;
    padding:12px 15px;
}
.tiezi_reply{
    height: 145px;
}
.reply{
    float: right;
    border:none;
    background-color:rgb(231,238,204);
    padding-left: 20px;
    margin-top: 20px;
}
.reply_content{
    padding-left: 10px;
}
.reply_time{
    padding-left: 4px;
}
.vistor{
    font-weight: bold;
}
.reply_vistor{
    border:none;
    background-color:rgb(231,238,204);
    padding-left: 20px;
}
.tz_head_1{
    margin-top: 10px;
    float: left;
}
.tz_title{
    font-family: "黑体";
    float: left;
    padding-left: 14px;
}
.tz_text{
    margin-top:50px ;
    margin-left: 20px;
    text-align: left;
}
.tz_text_name{
    padding-top: 5px;
}
.tz_text_name_xq{
    padding-top: 30px;
}
.tz_text_neirong{
    padding-top: 5px;
}
.tz_text_huifu{
    padding-top: 10px;
}
.tz_img{
    width:250px;
    height: 150px;
    margin-bottom: 10px;
}

.head_huifu{
    color: rgb(194, 203, 112);
}
.float{
    color: grey;
    float: right;
}
.box{
    background: white;
    width:96%; margin-top:10%; margin:auto; padding:28px;
    height:200px; border:1px solid rgb(194,203,120);
    display:none;            /* 默认对话框隐藏 */
}
.box.show{display:block;}
.box .x{ font-size:18px; text-align:right; display:block;}
.box input{width:80%; font-size:18px; margin-top:18px;}
.biaoti{
    width: 24.8%;
    height: 50px;
    background-color: rgb(194,203,120);
    border: 1px solid white;
    font-family: 黑体;
}
.biaoti a:hover{
    background-color: rgb(35,100,0);
    border: 1px solid white;
    font-family: 黑体;
}
.biaoti.a{
    height: 50px;
}
.nav-tabs{
    padding-left: 9px;
    padding-bottom: 10px;
}
.xq{
    padding-left: 9px;
    padding-top: 100px;
}
.text-reply{
    height: 80px;
    width: 100%;
}
.wen_text{
    padding-left: 7px;
    font-size: 15px;
}
.btn1{
    float: right;
    background-color: rgb(194,203,112);
}
.glyphicon{
    color: rgb(243,125,54);
}
.glyphicon-eyes{
    line-height: 20px;
    color: #999;
}
.tabbable2{
    padding-top: 80px;
}
.push-right{
    position: fixed;
    left: 50%;
    bottom: 100px;
    margin-left: 452px;
    z-index: 1005;
}
.push-right ul li a img{
    margin-right: 0;

}
.push-aside-bar{
    padding-bottom: 10px;
    float: left;
    width: 170px;
}
.push-head{
    padding-bottom: 20px;
}
.push-title{
    padding-bottom: 10px;
    width: 50%;
}
.push-content{
    height: 80px;
    width: 100%;
}
.content{
    float: left;
    background: white;
    width:90%; 
    margin-top:10%;
    margin:auto;
    height:260px; 
    border:1px solid rgb(194,203,120);
    display:none;            /* 默认对话框隐藏 */
}
.content .tiezi_reply p{
    font-weight: bold;
    padding-bottom: 15px;
}
.bshare-custom{
    display: none;
}
