@charset "utf-8";
/* CSS Document */
* {
}

.nowwid {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #aed499;
    z-index:999;
    position: fixed;
    left:30%;
    top:30%;
    background-color: #FFFFFF;
    display: none;

}

.wid_h1 {
    font-size: 28px;
    color: #236400;
    text-align: center;
}

.close_window {
    display: block;
    float: right;
    width: 37px;
    height: 37px;
    background: url(../images/close_window.png) top no-repeat;
}

.close_window:hover {
    background: url(../images/close_window_1.png) top no-repeat;
}

.wdo_s {
    width: 400px;
    margin: 40px auto 20px;
}

.specialu {
    width: 400px;
}

.specialu li {
    float: left;
    list-style: none;
    height: 50px;
    width: 400px;
}

.specialu p {
    width: 100px;
    float: left;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
}

.specialu p a {
    float: right;
    display: inline;
    color: #aed499;
    font-size: 12px;
    font-weight: normal;
    background-color: transparent;
}

.specialu input {
    width: 300px;
    height: 42px;
    float: left;
    border: 1px solid #aed499;
    padding: 5px;
}

.specialu select {
    width: 300px;
    height: 42px;
    float: left;
    border: 1px solid #aed499;
    padding: 5px;
}

.specialu .textarea_li {
    height: 150px;
}

.specialu .textarea_li textarea {
    border: 1px solid #aed499;
    width: 300px;
    height: 140px;
}

.specialu img {
    margin-left: 10px;
    display: none;
}

.specialu .phone {
    width: 200px;
}

.specialu .already input {
    width: 20px;
}

.specialu .already {
    line-height: 48px;
}

.specialu .already a {
    float: right;
    margin-right: 200px;
    width: 165px;
    display: inline;
    color: #aed499;
    font-size: 12px;
    font-weight: normal;
    background-color: transparent;
}

.specialu li button{
    width: 400px;
    background-color: rgb(194,203,112);
    color: #fff;
    height: 42px;
    border:0;
}

.specialu .goto a {
    float: right;
    margin-right: 35px;
    display: inline;
    color: #aed499;
    font-size: 12px;
    font-weight: normal;
    background-color: transparent;
}

.specialu .line {
    height: 25px;
}