
<html>
<head>
    <title>装饰公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/hanziqiang.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/zsgs.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/lanrenzhijia.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/xq_navbar.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/xq.css"/>

    <script src="__PUBLIC__/admin/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/js/scripts.js"></script>
</head>
<body>

<!-- 内容部分 -->
<div class="container">

    <div>
        <h1 class="contitle">装饰公司 · <span>Decoration Company</span></h1>
    </div>
    <div>
        <!-- 筛选按钮 -->
        <div class="row zx10">
            <div class="col-md-8 zx1">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">按时间排序 <span
                            class="glyphicon glyphicon-arrow-down"></span></button>
                    <button type="button" class="btn btn-default">按好评排序<span
                            class="glyphicon glyphicon-arrow-down"></span></button>
                    <button type="button" class="btn btn-default">按工程量排序<span
                            class="glyphicon glyphicon-arrow-down"></span></button>
                    <button type="button" class="btn btn-default">按信誉排序<span
                            class="glyphicon glyphicon-arrow-down"></span></button>
            </div>
            </div>
            <div class="col-md-4 zx11">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="龙发装饰">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <!-- 装饰公司内容 -->
        <div class="row ">
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo1.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>龙发装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo2.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>鼎宸装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo3.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>生活家装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo4.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>美艺嘉装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
            </div>
            </div>
        </div>
        <!-- two -->
        <div class="row ">
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo5.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>龙发装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo6.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>鼎宸装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo7.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>生活家装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo8.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>美艺嘉装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
            </div>
            </div>
        </div>
        <!-- three -->
        <div class="row ">
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo5.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>龙发装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo6.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>鼎宸装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo7.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>生活家装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="col-md-3 zx2">
                <div class="zx3">
                    <img src="__PUBLIC__/admin/images/logo8.png" width="100%">
                    <ul class="zx6">
                        <li>
                            <div class="zx4">
                                <h3>美艺嘉装饰</h3>
                            </div>
                        </li>
                        <li class="zx5">
                            <!-- <img src="__PUBLIC__/admin/images/ying.png" title="该公司营业执照已认证" >
                            <img src="__PUBLIC__/admin/images/ren.png" title="认证公司">
                            <img src="__PUBLIC__/admin/images/hui.png" title="" >
                            <img src="__PUBLIC__/admin/images/jin.png" title="保障金10000" >  10000元 -->
                            <img src="__PUBLIC__/admin/images/she.png" title="设计方案"> 100套
                            <img src="__PUBLIC__/admin/images/gong.png" title="做工数量"> 500套
                            <img src="__PUBLIC__/admin/images/ping.png" title="评价次数"> 50次
                        </li>
                        <li class="zx7">
                            <img src="__PUBLIC__/admin/images/gps.png" class="gps"/>
                            <p>&nbsp;&nbsp;石家庄市裕华区 裕华路 河北师范大学新校区内</p>
                        </li>
                        <li class="zx7 zx8">
                            <div class="row" id="zx9">
                                <div class="col-md-4">
                                    <span class="glyphicon glyphicon-user gps"></span>
                                    <p>李小姐&nbsp;&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn  btn-link annv"><a href="zsgs-xq.html">查看详情</a>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
            </div>
            </div>
        </div>
        <!-- fuor -->
        <div class="zx1">
            <nav>
                <ul class="pagination pagination-lg gs7">
                    <li><a href="#">首页</a></li>
                    <li class="gs8"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">尾页</a></li>
                </ul>
            </nav>
        </div>
        <!-- 只是一个div -->
    </div>


</div>
</body>
<script src="__PUBLIC__/admin/js/lanrenzhijia.js"></script>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="__PUBLIC__/admin/js/xq_navbar.js"></script>
<script>
    $(function () {
        $("#bar1").xq_navbar({
            "type": "underline",
            "liwidth": "auto",
            "bgcolor": "rgb(240,242,220)",
            "hcolor": "rgb(1,175,99)"
        });
    });
</script>
</html>