
    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="mian.html">首页</a></li>
    	    <li><a href="#">关键字管理</a></li>
    	    <li class="active">标签管理</li>
  	    </ol>
    	  <h3 class="down">标签管理 <small>Tags Management</small></h3> 
            <div class="row ">
            <div class="col-md-4">  	    
        <div class="list-group-item">
           <form action="" method="post">
              <label for="inputEmail3" class=" control-label">请输入价格</label>            
                <input type="input" class="form-control marb" id="" placeholder="" name="e_price">       
                <button type="submit" class="btn btn-primary">添加价格</button>  
           </form>
    	                
  	        </div>
             <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
    	      <tr>
    	        <th width="50%">价格</th>
    	        <th width="50%">操作</th>
  	        </tr>
            <volist name="prices" id="p">
               <tr>
              <td class="taga"><a href="#">{$p.e_price}</a></td>
              <td><a href="#"></a> &nbsp;&nbsp;<a href="__MODULE__/tag/pricesdelete/e_price/{$p.e_price}">删除</a></td>
               </td>
            <tr>
            </volist>
  	      </table>
            </div>
            </div>   
  	  </div>
   	  </div>
    </div> 
  	  </div>
	</div>
</div>
<script src="js/jquery-ui.js"></script>
<script>
$( "#accordion" ).accordion({
      heightStyle: "content"
    });
</script>
</body>
</html>
