
    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="mian.html">首页</a></li>
    	    <li><a href="#">关键字管理</a></li>
    	    <li class="active">标签管理</li>
  	    </ol>
    	  <h3 class="down">标签管理 <small>Tags Management</small></h3> 
            <div class="row ">
            <div class="col-md-6">  	    
        <div class="list-group-item">
    	        <label for="inputEmail3" class=" control-label">请输入户型</label>    	       
    	          <input type="input" class="form-control marb" id="" placeholder="">       
    	          <button type="submit" class="btn btn-primary">添加户型</button>	          
  	        </div>
             <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
    	      <tr>
    	        <th width="50%">户型</th>
    	        <th width="50%">操作</th>
  	        </tr>
    	      <tr>
    	        <td class="taga"><a href="#">地中海风情</a></td>
    	        <td><a href="#">删除</a></td>
   	           </tr>
    	      <tr>
    	         <td class="taga"><a href="#">地中海风情</a></td>
    	        <td><a href="#">删除</a></td>
   	           </tr>
    	      <tr>
    	         <td class="taga"><a href="#">地中海风情</a></td>
    	        <td><a href="#">删除</a></td>
   	           </tr>
  	      </table>
            </div>
            </div>   
  	  </div>
   	  </div>
    </div> 
  	  </div>
	</div>
</div>
<script src="js/jquery-ui.js"></script>
<script>
$( "#accordion" ).accordion({
      heightStyle: "content"
    });
</script>
</body>
</html>
